#test {
    white-space: pre;
    font-family: 'Fuzzy Bubbles';
    font-size: x-large;
}

button  {
    cursor: pointer;
    margin-right: 6px;
    font-family: 'Fuzzy Bubbles';
    font-size: large;
    border-color: rgb(89, 206, 36);
    color: rgb(89, 206, 36);
    font-weight: bold;
    padding: 4px 12px;
    width: fit-content;

}
button:hover {
    border-color: white;
    background-color: rgb(89, 206, 36);
    color: white;
    transition: 0.5s;
}

body {
    text-align: center;
    width: 90%;
    margin: 0 auto 0 auto;
    background-color: rgb(250, 231, 214);
    font-family: 'Fuzzy Bubbles';
}
#header {
    font-family: 'Shizuru';
    font-size: 320%;
    font-weight: bold;
}
#desc {
    font-family: 'Cabin Sketch';
    font-size: 190%;
}
#customDate {
    font-weight:bolder;
    color: rgb(89, 206, 36);
}
div {
    margin-bottom: 3vh;
}
#footer {

    margin: 20% auto 0 auto;
    width: 90%;
    font-family: 'Roboto';
}
#table {
    font-size: larger;

}
#bodyContent {
    margin: 0 auto 0 auto;
}
#alert {
    margin-top: 2vh;
}
#tasks {
    font-size: x-large;
    font-family: 'Fuzzy Bubbles';
}
#submit {
    font-size: x-large;
    font-family: 'Fuzzy Bubbles';
}